.productgrid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows:auto;

  /*  &.colspan-4{
        grid-template-columns: repeat(4,1fr);
    }

    &.colspan-3{
        grid-template-columns: repeat(3,1fr);
    }*/


}

@media (max-width: 680px) { 

    .productgrid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows:auto;
    }


 }