$text-color: #222;
$body-color: #fff;

$primary-color: #f7d3aa;
$light-color: #df9d6c;
$dark-color: #634739;
$accent-color: #fcf5ed;

.bg-accent {
  background-color: $accent-color !important;
}

.bg-lightbrown {
  background-color: $primary-color !important;
}
